.project-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: var(--color-focus);
  border: 0.5rem solid var(--color-focus);
  border-radius: 1.5rem;
  gap: 0.5rem;
}

.project-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  overflow: hidden;
}

.project-card-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--color-focus);
}

.project-card-content {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-card-meta {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-card-repo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-card-description {
  flex: 1;
}

.project-card-info {
  font-size: 1rem;
}

.project-card-mine-container {
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 1rem 1.25rem;
  flex: 1;
}

.project-card-mine {
  font-size: 1rem;
  color: var(--color-shade);
}

.project-card-actions {
  gap: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.project-card-actions > * {
  background-color: var(--color-white);
  border-radius: 1rem;
  text-wrap: nowrap;
}

@media (max-width: 900px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-card-meta {
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .project-card-icon {
    max-height: 15rem;
  }

  .project-card-repo-text {
    font-size: 1rem;
  }

  .project-card-title {
    font-size: 1.5rem;
  }

  .project-card-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .project-card-actions {
    grid-template-columns: 1fr;
  }
}

