@keyframes ping {
  0%, 20%, 100% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.05);
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.experience-separator {
  text-align: center;
  width: 100%;
  text-wrap: nowrap;
  overflow: hidden;
  color: transparent;
  text-decoration: line-through wavy var(--color-focus);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.experience:last-child .experience-separator {
  display: none;
}

.experience-separator-icon {
  color: var(--color-focus);
  min-width: 3rem;
  text-decoration: none !important;
  min-height: 3rem;
  padding: 0.5rem;
  stroke-width: 1.5;
  border: 0.125rem solid var(--color-focus);
  border-radius: 0.5rem;
}

.experience-grid {
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.experience:nth-child(odd) .experience-grid {
  flex-direction: row-reverse;
}

.experience-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.experience-company {
  background-color: var(--color-focus);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  flex: 1;
}

.experience-role {
  color: var(--color-focus);
  border-radius: 1rem;
  text-transform: capitalize;
}

.experience-role h3 {
  padding: 0.5rem;
}

.experience-role h4 {
  background-color: var(--color-focus);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.experience-contributions {
  background-color: var(--color-focus);
  color: var(--color-white);
  grid-area: contributions;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  counter-reset: contribution;
}

.experience-contribution {
  background-color: var(--color-white);
  color: var(--color-shade);
  padding: 1rem;
  border-radius: 1rem;
  animation: ping 6s ease-in-out infinite !important;
  animation-delay: calc(sibling-index() * 0.5s) !important;
  counter-increment: contribution;
  transition: none;
}

@media (max-width: 700px) {
  .experience-grid {
    flex-direction: column !important;
  }
}

