.about-text {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
  font-weight: 100;

  background: hsl(
    from var(--color-focus) h calc(s) calc(
      l - (l * 0.7 * var(--dark)) + (l * 0.7 * (1 - var(--dark)))
    ) / 1
  );
}

