.latest {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.latest h3 {
  text-wrap-style: balance;
}

.latest-linklets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 800px) {
  .latest-linklets {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

