.loki-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: inherit;
  background: inherit;
  font-size: inherit;
}

.loki-text span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
