@import "@styles/fonts.css";
@import "@styles/variables.css";
@import "@styles/animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  background: transparent;
  color: inherit;
  outline: none;
  border: none;
  cursor: inherit;
  transition: all var(--transition-normal);
}

html, body, #root {
  transition: none;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  cursor: default;
  position: relative;
}

html, body {
  height: 100%;
  background-color: var(--bg-primary);
}

body {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    var(--accent-blue),
    var(--accent-green)
  );
  border-radius: 1rem;
}

::selection {
  background-color: var(--accent-blue);
  color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
